body {
  margin: 0;
  font-family: "HiraMinProNーW6"
}

.container {
  width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(topimage.png);
  background-size: cover;
  color: white;
}

.top-wrapper h1{
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 3px;
}

.top-wrapper h2{
  opacity: 0.7;
  font-size: 25px;
}


header {
  height: 80px;
  background-color: white;
}

.logo {
  width: 150px;
  margin: auto;
}

.header-right {
  float: right;
  background-color: white;
  transition: all 1s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 100px;
  padding: 0 40px;
  color: #000000;
  display:block;
}
